@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div class="element-minimalism-login">
            <div class="div">
                <img class="rectangle" src="img/rectangle-4.png" />
                <div class="group">
                    <div class="text-wrapper">Welcome</div>
                </div>
                <div class="overlap-group-wrapper">
                    <div class="overlap-group">

                        <img class="subtract" src="img/subtract.svg" />
                    </div>
                </div>
                <div class="overlap-wrapper">

                    @Html.TextBox("Password", "", new { @class = "overlap element-minimalism-login  text-wrapper-3  " })
                    @*<img class="frame" src="img/frame.svg" />*@

                </div>
                <div class="div-wrapper">

                    @Html.TextBox("User_id", "", new { @class = "overlap element-minimalism-login text-wrapper-3    " })
                    @*<img class="frame" src="img/image.svg" />*@

                </div>

                <div class="group-2">
                    <input type="submit" class="element-minimalism-login overlap-2  text-wrapper-3"   name="commit" value="Login">
                </div>

                <img class="vector" src="img/vector.svg" />
            </div>
        </div>

        @ViewBag.username
    </form>
</body>
</html>
